<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom RPC</title>
</head>

<style>
body {
    background-color: #353535;
}

h1 {
    color: white;
}

.button {
    width: fit-content;
    background-color: #535353;
    color: white;
    font-family: 'GoogleSans';
    font-size: xx-large;
    border: 0;
    border-radius: 10px;
    transition: all 0.2s;
}

.button:hover {
    background-color: #727272;
}
</style>

<body>
    <h1>Custom RPC, By <a href="https://github.com/purpl3-yt" style="color: #8894af;text-decoration: none;" target="_blank">Purpl3</a></h1>
    <h1>Settings: </h1>
    {% for setting in settings %}
        <h1 style="font-family: 'monospace';font-size: medium;">{{ setting[0] }}: {{ setting[1] }}</h1>
    {% endfor %}
</body>
</html>